<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>About - The Basic Co</title>
</head>

<body>
    <div class="container mx-auto">
        <%- include('../partials/navbar.ejs') %>
            <div class="w-full bg-neutral-50 flex-center">
                <div class="bg-white rounded-lg sm:w-10/12 w-11/12 my-4">
                    <h1 class="font-extrabold text-center my-6">ABOUT <span class="text-orange-400">THE BASIC CO</span></h1>
                    <p class="p-4 sm:text-center text-justify text-sm sm:text-base first-letter:text-4xl">
                        The Basic Co sit amet, consectetur adipisicing elit. Minima cum suscipit maiores aspernatur
                        et
                        beatae modi facere sit. Hic porro laborum laboriosam itaque harum veritatis sapiente totam odit,
                        vel
                        dolorum sint excepturi neque in error dignissimos dolore placeat, cumque consequuntur delectus
                        corporis! Excepturi temporibus repudiandae beatae consectetur sapiente similique dignissimos
                        culpa,
                        nostrum laborum unde reprehenderit impedit ex enim. Esse laudantium veritatis ipsam optio totam
                        velit sint fuga placeat, sequi natus neque cupiditate? Illo fuga, dolor iste amet impedit totam
                        neque exercitationem accusamus deleniti ducimus eveniet deserunt sed at pariatur velit obcaecati
                        quas maxime distinctio asperiores voluptates ullam mollitia veritatis eius id. Alias repellat
                        totam
                        repudiandae suscipit dignissimos dolorum, laborum eligendi vitae voluptatum saepe quos dolor,
                        necessitatibus consectetur cupiditate ad omnis tenetur nostrum enim vero. Ducimus nostrum
                        doloremque
                        fugit iste necessitatibus est assumenda sint, cumque quisquam ex optio perferendis quod quos
                        dolor
                        dicta iure nobis adipisci vero? Porro commodi aspernatur voluptate, possimus impedit at numquam
                        sequi corrupti, nisi doloribus est dolor! Enim, quas amet eos officia maiores corrupti libero
                        blanditiis eius dolorem at delectus ipsum repellendus alias iusto vero earum eum sunt quae
                        accusamus
                        voluptate atque laboriosam totam qui. Autem aliquam nulla odio amet quasi nisi ad delectus
                        beatae
                        ipsa ab perspiciatis atque voluptatibus a soluta nostrum labore, eum obcaecati veritatis omnis
                        fugit
                        ducimus. Eum illum neque ea, laudantium explicabo saepe, repellat voluptatum rerum nostrum fugit
                        odio blanditiis eius, cupiditate dignissimos. Numquam nostrum voluptatem corrupti sed illo
                        distinctio obcaecati ipsa ad. Pariatur qui rerum expedita molestiae cupiditate, facere aperiam
                        suscipit ipsum!
                    </p>
                </div>
            </div>
    </div>
</body>

</html>