<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Forget Password - The Basic Co</title>
</head>

<body>
    <div class="container mx-auto">
        <%- include('../partials/navbar.ejs') %>
            <div class="flex shadow-sm sm:shadow-none">
                <div
                    class="sm:w-3/12 w-11/12 bg-white mx-auto rounded-lg sm:mx-0 flex justif-center flex-col sm:mt-12 mt-8">
                    <h1 class="font-extrabold sm:text-left text-center px-4 mt-6 sm:mb-10 mb-6">FORGOT YOUR PASSWORD?
                    </h1>

                    <% if(err.length) {%>
                        <div class="text-red-500 font-bold text-center">
                            <%= err %> 
                        </div>
                        <% } else if(success.length) {%>
                            <div class="text-green-500 font-bold text-center">
                                <%= success %> 
                            </div>
                            <% } %> 

                            <form class="w-full mt-10 px-4" method="POST" action="/forget-password">
                                <label for="email" class="mb-2 block text-center sm:text-left">Enter the email linked to
                                    this account:</label>
                                <input required placeholder="Ex. John@gmail.com" type="email" name="email"
                                    class="w-full mt-4 border-b-solid border-b-2 sm:text-left text-center border-b-orange-400 focus:border-b-pink-400">

                                <button type="submit"
                                    class="w-48 bg-orange-400 hover:bg-orange-500 sm:mx-0 mx-auto block h-10 font-bold mt-10">RESET
                                    PASSWORD
                                </button>
                            </form>
                </div>
                <div class="flex-1 sm:flex hidden justify-center">
                    <img class="h-96 mt-12" src="/images/forget.png" alt="forget password">
                </div>
            </div>
            <!-- <footer class="bg-black w-full text-white text-center py-2 text-xs sm:text-sm">The Basic Co &copy; || All Rights Reserved</footer> -->
    </div>
</body>

</html>