<html>
    <head>
        <title>Reset password - The Basic Co</title>
        <%- include('../partials/head.ejs') %> 
    </head>
    <body>
        <div class="container mx-auto h-screen">
            <%# include('../partials/navbar.ejs') %> 
            <nav class="w-full h-12 flex items-center">
                <span>&#8592;</span>
                <a href="/" class="ml-2">Back to home</a>
            </nav>
            <div class="w-full flex-center mt-24 flex-col">
                <h1 class="font-extrabold">RESET PASSWORD</h1>
                <p class="text-gray-400 text-sm mt-2">Enter your new password for this account.</p>
                <form action="/reset-password/<%= link %>" method="POST" class="mt-6 flex-center flex-col">
                    <label for="password" class="font-bold">New Password <span class="text-red-500">*</span></label>
                    <input required class="border-b-solid border-b-2 w-64 px-4 py-2 border-b-orange-400" type="password" name="password" id="password">

                    <label for="c_password" class="font-bold block mt-8">Confirm Password <span class="text-red-500">*</span></label>
                    <input required class="border-b-solid border-b-2 w-64 px-4 py-2 border-b-orange-400" type="password" name="c_password" id="c_password">

                    <button type="submit" class="w-48 h-10 bg-orange-500 hover:bg-orange-600 text-white font-bold mt-10">SUBMIT</button>
                </form>
            </div>
        </div>
    </body>
</html>