<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Signup - Eesh web</title>

        <style>

        </style>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <div class="container mx-auto bg-gray-50 py-6 flex-center">
            <div class="bg-white rounded-xl sm:w-1/2 w-11/12 py-4">
                <h4 class="text-center mt-10">Welcome</h4>

                <h1 class="text-center text-xl font-semibold mt-4 mb-12">Create an Account</h1>

                <% if (errMessage.length) { %>
                    <h1 class="text-center text-red-500 font-semibold text-sm">
                        <%= errMessage %>
                    </h1>
                <% } %>
                    <% if (successMessage.length) { %>
                            <h1 class="text-center text-green-500 font-semibold text-sm">
                                <%= successMessage %>
                            </h1>
                        <% } %>

                                <form method="POST" action="/signup">
                                    <label class="text-center block mt-8" for="name">
                                        Name
                                        <span class="text-red-500 font-bold">*</span>
                                    </label>
                                    <input style="border: 1px solid #ececec;"
                                        class="block mx-auto sm:w-5/6 w-11/12 h-10 px-2"
                                        placeholder="Name here ..." type="text" required name="name">

                                    <label class="text-center block mt-8" for="email">
                                        Email
                                        <span class="text-red-500 font-bold">*</span>
                                    </label>
                                    <input style="border: 1px solid #ececec;"
                                        class="block mx-auto sm:w-5/6 w-11/12 h-10 px-2"
                                        placeholder="Email here ..." required type="email" name="email">

                                    <label class="text-center block mt-8" for="tel">
                                        Contact Number
                                        <span class="text-red-500 font-bold">*</span>
                                    </label>
                                    <input style="border: 1px solid #ececec;"
                                        class="block mx-auto sm:w-5/6 w-11/12 h-10 px-2"
                                        placeholder="Contact number here ..." required type="tel" name="tel">

                                    <label class="text-center block mt-8" for="password">
                                        Password
                                        <span class="text-red-500 font-bold">*</span>
                                    </label>
                                    <input style="border: 1px solid #ececec;"
                                        class="block mx-auto sm:w-5/6 w-11/12 h-10 px-2"
                                        placeholder="Password here ..." required type="password" name="password">

                                    <div class="w-max block mx-auto mt-8">
                                        <input type="checkbox" name="mail-list">
                                        <label for="mail-list text-sm">I agree to the terms and conditions</label>
                                    </div>

                                    <div class="w-max block mx-auto mt-4">
                                        <input required checked type="checkbox" name="mail-list">
                                        <label for="mail-list">Keep me updated about new offers</label>
                                    </div>

                                    <button type="submit"
                                        class="w-56 h-10 font-bold text-white block mx-auto mt-12 mb-6 rounded-full bg-orange-500 hover:bg-orange-600">
                                        Signup
                                    </button>
                                </form>

                                <p class="text-center mb-6">Already have an account?
                                    <a class="font-bold hover:text-orange-500" href="/login">Login</a>
                                </p>
            </div>

        </div>


</body>

</html>