<style>
    .menu.open {
        left: 0;
        display: block;
        left: 0;
    }

    .menu {
        transition: 0.5s;
        z-index: 999;
        height: 100vh;
        left: -2000px;
    }

    .nav-link {
        border: 1px solid #dcdcdc;
        margin-top: 1px;
    }

    .close {
        right: -3rem;
        z-index: 999;
    }

    .loader {
        border-top: 10px solid transparent;
        animation: spin 1s infinite ease-in-out
    }

    @keyframes spin {
        100% {
            transform: rotateZ(360deg);
        }
    }
</style>
<div class="loading_overlay w-full h-screen inset-0 fixed flex-center">
    <div class="w-16 h-16 loader rounded-full border-8 border-solid border-orange-500"></div>
</div>

<div class="w-full h-12 bg-black text-white flex-center text-xs tet-center">
    Enjoy Free Shipping Throughout India!
</div>
<div class="w-full h-12 bg-orange-400 font-bold flex-center text-sm tet-center">
    Use Promo Code "AMAN50" to Get Flat 50% Off!
</div>
<div onload="showLoading()" class="max-w-full overflow-hidden h-20 bg-white flex items-center justify-between px-2 nav">

    <div class="ham w-16 h-16 flex-center flex-col cursor-pointer">
        <div class="bars w-10 bg-black rounded-full mb-2"></div>
        <div class="bars w-10 bg-black rounded-full"></div>
    </div>

    <div class="logo">
        <h1 onclick="redirect('/')" id="logo" class="text-xl font-extrabold">TBC</h1>
    </div>

    <div class="cart px-2 relative">
        <div class="w-6 h-6 rounded-full bg-orange-400 absolute left-4 bottom-6 flex-center">
            <span class="font-bold text-white cart_counter">0</span>
        </div>
        <img class="w-6 h-8" src="/images/cart.png" alt="cart">
    </div>

    <div class="fixed w-10/12 bg-white menu top-0 shadow-xl pt-6">
        <div
            class="close absolute w-12 h-12 text-4xl text-white flex-center bg-red-500 shadow-2xl font-bold cursor-pointer">
            &times;
        </div>
        <div class="w-full py-2 px-4 nav-link mt-6">
            <a class="hover:text-orange-600 text-lg" href="/login">Login</a>
        </div>
        <div class="w-full py-2 px-4 nav-link">
            <a class="hover:text-orange-600 text-lg" href="/products">New Arrivals</a>
        </div>
        <div class="w-full py-2 px-4 nav-link">
            <a class="hover:text-orange-600 text-lg" href="/collections">Our Collections</a>
        </div>
        <div class="w-full py-2 px-4 nav-link">
            <a class="hover:text-orange-600 text-lg" href="/ordera">My Orders</a>
        </div>
        <div class="w-full py-2 px-4 nav-link">
            <a class="hover:text-orange-600 text-lg" href="/cart">Cart</a>
        </div>
        <div class="w-full py-2 px-4 nav-link">
            <a class="hover:text-orange-600 text-lg" href="/profile">My Profile</a>
        </div>
        <div class="w-full py-2 px-4 nav-link">
            <a class="hover:text-orange-600 text-lg" href="/about">About Us</a>
        </div>
    </div>

    <script src="/js/app.js"></script>
    <script>

        function showLoading() {
            const loadingOverlay = document.querySelector('.loading_overlay')
            loadingOverlay.classList.add('open')

            const cart = window.localStorage.getItem('cart')
            let items = 0

            if (cart) {
                items = JSON
                    .parse(cart)
                    .totalQty
            }

            const cartCounter = document.querySelector('.cart_counter')
            cartCounter.innerText = items
            loadingOverlay.classList.remove('open')
        }
        showLoading()

    </script>
</div>