.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    border: 2px solid red;
}
.category-container-home::-webkit-scrollbar {
    display: none;
}
.bars {
    transition: 0.3s;
    height: 4px;
}
.bars:first-child.open {
    transform: translateX(50px);
    opacity: 0;
}
.bars:last-child.open {
    transform: translateX(-50px);
    opacity: 0;
}
.sideMenu {
    left: 1500px;
}
input {
    outline: none;
}

input:focus {
    border-bottom: 2px solid orange;
}
.slide-wrapper::-webkit-scrollbar {
    display: none;
}
.color-badge {
    box-shadow: 3px 5px 10px #ececec, -3px 5px 10px #ececec;
}
.size-badge {
    border: 1px solid #dcdcdc;
}
div#black {
    background: #000;
}
div#white {
    background: #fff;
}
div#red {
    background: red;
}