.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    border: 2px solid red;
}

.category-container-home::-webkit-scrollbar {
    display: none;
}

.loading_overlay {
    background: linear-gradient(135deg, rgb(0,0,0,0.5), rgb(0,0,0,0.5));
    z-index: 99999;
    display: none;
}
.loading_overlay.open {
    display: flex;
}

.bars {
    transition: 0.3s;
    height: 4px;
}

.bars:first-child.open {
    transform: translateX(50px);
    opacity: 0;
}

.bars:last-child.open {
    transform: translateX(-50px);
    opacity: 0;
}

.sideMenu {
    left: 1500px;
}

input {
    outline: none;
}

input:focus {
    border-bottom: 2px solid orange;
}

.slide-wrapper::-webkit-scrollbar {
    display: none;
}

input[type='radio'].color_badge {
    /* box-shadow: 3px 5px 10px #ececec, -3px 5px 10px #ececec; */
    position: relative;
}

input[type='radio'].color_badge::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 99;
}

input[type='radio'].color_badge:checked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 10;
    border: 3px solid orange;
}

input[type='radio'].color_badge#red::before {
    background: rgb(255, 56, 56);
}

input[type='radio'].color_badge#black::before {
    background: black;
}

input[type='radio'].color_badge#blue::before {
    background: rgb(32, 32, 248);
}

input[type='radio'].color_badge#green::before {
    background: rgb(14, 116, 14);
}

.size_badge {
    border: 1px solid #dcdcdc;
}
.success_badge {
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.success_badge.show {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.error_badge {
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.error_badge.show {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.desc {
    height: 0;
    transition: 0.4s;
}
.desc.open {
    height: max-content;
}
.care {
    height: 0;
    transition: 0.4s;
}
.care.open {
    height: max-content;
}
.care_chev {
    transform: rotateZ(0deg);
    transition: 0.2s;
}
.care_chev.open {
    transform: rotateZ(180deg);
}
.desc_chev {
    transform: rotateZ(0deg);
    transition: 0.2s;
}
.desc_chev.open {
    transform: rotateZ(180deg);
}
.cart_color_badge[data-color="red"] {
    background: red;
}
.cart_color_badge[data-color="black"] {
    background: black;
}
.cart_color_badge[data-color="blue"] {
    background: blue;
}
.cart_size_badge {
    border: 1px solid #ececec;
}
.steps {
    position: relative;
}
.step_badge {
    background: #f8f6f6;
}
.step_badge.active {
    background: teal;
}
.steps::before {
    content: '';
    width: 16rem;
    height: 5px;
    background: #dcdcdc;
    position: absolute;
    top: 50%;
    right: 3.5rem;
    transform: translateY(-50%);
}
.steps.active::before {
    background: teal;
}
@media only screen and (max-width: 500px) {
    .steps::before {
        content: '';
        width: 5rem;
        height: 5px;
        background: #dcdcdc;
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
    }
}